body {
    background-color: rgb(186, 230, 173);    
    font-family: Arial, sans-serif;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
}

ol {
    margin-bottom: 8px;
}
.tituloempresa {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: navy;
    margin-top: 20px;
    animation: mover 3s 0s  normal none;
}
.logoempresa {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: auto;
    transition: transform 0.3s ease;

}

.logoempresa:hover {
    transform: scale(1.1);
}

.Copyright {
    font-size: 12px;
    text-align: center;
    color: gray;
    margin-top: 40px;
}


#tituloredes {
    text-align: center;
    margin-top: 30px;
}

.footer{
    text-align: center;
}


.boton {
    background-color: white;
    color: black;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    display: inline-block;
    transition: all 0.3s ease;

}

.botonig:hover { 
    background-color: rgb(245, 96, 64); 
    color: white; 
}
.botonfb:hover { 
    background-color: rgb(1, 101, 225); 
    color: white; 
}
.botongh:hover { 
    background-color: black; 
    color: white; 
}



/* tablets */
@media (max-width: 1024px) {
    .card {
        background-color: rgb(94, 94, 93);
        width: 90%;
        padding: 20px;
    }
    .sensorambiental, .softwareeco, .paneless {
        padding: auto;
        margin: auto;
    }
}
/* celulares */
@media (max-width: 600px) {
    .card {
        background-color: rgb(124, 125, 133);
        width: 90%;
        padding: 20px;
    }
    .sensorambiental, .softwareeco, .paneless {
        padding: auto;
        margin: auto;
    }
}

@keyframes mover {
    0% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0px);
    }
    
    
    
}